.body{
  /*background-color: #b3f0ff;*/
}

.border{
  display: flex;
  justify-content: center;
  font-family: 'Spirax', cursive;
}

#canvas{
  position: relative;
}

.start-menu{
  position: absolute;
  background-color: #b3f0ff;
  border: 1px solid;
  margin-top: 100px;
  width: 420px;
  height: 175px;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e68a00;
}

.start{
  text-align: center;
}

.start-button{
  border: none;
  background: none;
  font-size: 35px;
  font-family: 'Spirax', cursive;
  color: #e68a00;
  cursor: pointer;
}

.retry-menu{
  position: absolute;
  background-color: #b3f0ff;
  border: 1px solid;
  margin-top: 100px;
  width: 420px;
  height: 175px;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e68a00;

}

.retry{
  text-align: center;
}

.retry-button{
  border: none;
  background: none;
  font-size: 35px;
  font-family: 'Spirax', cursive;
  color: #e68a00;
  cursor: pointer;
}


#coin-count{
  margin-top: 20px;
  position: absolute;
  font-size: 40px;
  color: #e68a00;
}

.text{
  margin-top: 15px;
  font-size: 20px;
  background-color: #ffdd99;
  padding: 10px 20px 0 20px;
  border: solid 1px black;
  width: 450px;
  height: 60px;
  text-align: center;
}
